body {
  background-color: var(--background-col);
}

.nav-heading {
  /* color: var(--text-lg); */
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3d4b8;
}

.nav-heading h1 {
  font-size: 2.5rem;
}

.upload-section {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  /* border-bottom: 1px solid gray; */
}

.upload-container {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

header {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #f3d4b8;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 3rem;
  margin-right: 3rem;
}

.list-container {
  width: 1200px;
  height: 600px;
  overflow: auto;
  position: relative;
  background-color: gray;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.item :nth-last-child(1) {
  font-weight: bold;
}

.legend-container {
  border: 1px solid #000000;
  border-radius: 10px;
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.legend-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

.color-code {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  border: 1px solid #000000;
}

.loader {
  font-size: 1.2rem;
  font-weight: bold;
  animation: blink 1s infinite;
  color: #333;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}
