/* body {
  background-color: var(--background-col);
} */

.nav-heading {
  /* color: var(--text-lg); */
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 190, 141);
}

.nav-heading h1 {
  font-size: 2.5rem;
}

.upload-section {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid gray;
}

.upload-container {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}
